h1 {
  color:black;
border: 5px solid black;
background-color: grey;
text-align: center;
}
body {
background-image: url(bgi.jpg);
background-size: cover;
font-family: "Patua One", cursive;
 }

 div{
   width:780px;
   margin:auto;
   border:5px solid ##174460;
   border-radius:10px;
   box-shadow:2px 4px 3px black;
   background-color:#FFFFFF;
   padding:40px;
 }


 h2 {
   color:white;
 border: 5px solid black;
 background-color:brown;
 text-align: center;
  }
.diplome{
  width:50%;
}
}
